<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hua.sys.mapper.UserMapper">
    <sql id="Base_Column_List">
        userid, loginname, identity, realname, sex, address, phone, pwd, position, type,
        available
    </sql>

    <!-- 用户登陆 -->
    <select id="login" resultType="user">
        select
        <include refid="Base_Column_List" />
        from sys_user
        where loginname=#{loginname} and pwd=#{pwd}
    </select>

    <!--    查询用户-->
    <select id="queryAllUser" resultType="user">
        select * from sys_user
        <where>
            <if test="realname!=null and realname !=''">
                and realname like concat("%",#{realname},"%")
            </if>
            <if test="loginname!=null and loginname !=''">
                and loginname like concat("%",#{loginname},"%")
            </if>
            <if test="identity!=null and identity !=''">
                and identity like concat("%",#{identity},"%")
            </if>
            <if test="address!=null and address !=''">
                and address like concat("%",#{address},"%")
            </if>
            <if test="phone!=null and phone !=''">
                and phone like concat("%",#{phone},"%")
            </if>
            <if test="sex!=null">
                and sex=#{sex}
            </if>
            and type != 1
        </where>
    </select>

<!--    保存用户和角色的关系-->
    <insert id="insertUserRole">
        insert into sys_role_user(uid,rid) values (#{uid},#{rid})
    </insert>
</mapper>
